{% block title %}Home | Leela Foundation - Empowering Communities{% endblock %}
{% block meta_description %}Welcome to Leela Foundation. We work together to create lasting impact through education, community service, and sustainable development.{% endblock %}

{% block content %}
    {% include "includes/hero.html" %}
    {% include "includes/impact.html" %}
    {% include "includes/events.html" %}
    {% include "includes/volunteer.html" %}
    {% include "includes/gallery.html" %}
    {% include "includes/testimonials.html" %}
    {% include "includes/contact.html" %}
{% endblock %}
